.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 20px 20px;
  background-color: rgb(250, 236, 218);
}

.label {
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 23px;
  font-weight: 500;
}

.input {
  display: block;
  width: 400px;
  height: 30px;
  padding: 5px;
  font-size: 23px;
}

.input:hover,
.input:focus {
  outline: 1px solid rgb(80, 123, 218);
}

.btn {
  width: 150px;
  height: 60px;
  background-color: rgb(80, 123, 218);
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: rgb(214, 104, 40);
  color: rgb(255, 255, 255);
}
